<template>
  <v-app>
    <!-- snackbar -->
    <alert></alert>

    <keep-alive>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        persistent
        transition="dialog-button-transition"
      >
        <component :is="currentComponent" @closed="setDialogStatus"></component>
      </v-dialog>
    </keep-alive>

    <!-- sidebar   -->
    <v-navigation-drawer app v-model="drawer">
      <v-list dense nav>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img :src="user.user.photo"> </v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn
            block
            color="success"
            class="mb-1"
            @click="setDialogComponent('login')"
          >
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block color="info" class="mb-1">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, index) in menus"
          :key="`menu-` + index"
          :to="item.route"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <!-- header in home -->
    <v-app-bar
      app
      absolute
      color="#6A76AB"
      dark
      src="/photos/107118.jpg"
      v-if="isHome"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Sanbercode App</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-switch
        v-model="$vuetify.theme.dark"
        inset
        label="Dark Theme"
      ></v-switch>

      <v-btn icon v-if="transactions != 0">
        <v-badge color="success" overlap>
          <template v-slot:badge>
            <span>{{ transactions }}</span>
          </template>
          <v-icon>mdi-cash-multiple</v-icon>
        </v-badge>
      </v-btn>

      <v-btn icon v-else>
        <v-icon>mdi-cash-multiple</v-icon>
      </v-btn>

      <v-text-field
        slot="extension"
        append-icon="mdi-microphone"
        flat
        hide-details
        label="Search"
        prepend-inner-icon="mdi-magnify"
        solo-inverted
        @click="setDialogComponent('search')"
      ></v-text-field>
    </v-app-bar>

    <!-- header not in home -->
    <v-app-bar
      app
      absolute
      color="#6A76AB"
      dark
      src="/photos/107118.jpg"
      v-else
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-btn icon @click.stop="$router.go(-1)">
        <v-icon>mdi-arrow-left-circle</v-icon>
      </v-btn>

      <v-spacer></v-spacer>

      <v-toolbar-title>Sanbercode App</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-switch
        v-model="$vuetify.theme.dark"
        dark
        label="Dark Theme"
      ></v-switch>

      <v-btn icon v-if="transactions != 0">
        <v-badge color="success" overlap>
          <template v-slot:badge>
            <span>{{ transactions }}</span>
          </template>
          <v-icon>mdi-cash-multiple</v-icon>
        </v-badge>
      </v-btn>

      <v-btn icon v-else>
        <v-icon>mdi-cash-multiple</v-icon>
      </v-btn>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <!-- footer -->
    <v-card>
      <v-footer absolute app>
        <v-card-text class="text-center">
          &copy; {{ new Date().getFullYear() }} - <strong>SanbercodeApp</strong>
        </v-card-text>
      </v-footer>
    </v-card>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Alert from "./components/Alert.vue";
import Search from "./components/Search.vue";
import Login from "./components/Login.vue";
export default {
  components: { Alert, Search, Login },
  name: "App",
  data: () => ({
    drawer: false,
    menus: [
      { title: "Home", icon: "mdi-home", route: "/" },
      { title: "Campaigns", icon: "mdi-hand-heart", route: "/campaigns" },
    ],
  }),
  computed: {
    isHome() {
      return this.$route.path === "/" || this.$route.path === "/home";
    },
    ...mapGetters({
      transactions: "transaction/transactions",
      guest: "auth/guest",
      user: "auth/user",
      dialogStatus: "dialog/status",
      currentComponent: "dialog/component",
    }),
    dialog: {
      get() {
        return this.dialogStatus;
      },
      set(value) {
        this.setDialogStatus(value);
      },
    },
  },
  methods: {
    ...mapActions({
      setDialogStatus: "dialog/setStatus",
      setDialogComponent: "dialog/setComponent",
      setAuth: "auth/set",
      setAlert: "alert/set",
      checkToken: "auth/checkToken",
    }),
    logout() {
      let config = {
        headers: {
          Authorization: "Bearer " + this.user.token,
        },
      };
      axios
        .post("/api/auth/logout", {}, config)
        .then((response) => {
          this.setAuth({}); //mengosongkan auth ketika logout
          this.setAlert({
            status: true,
            color: "success",
            text: "Logout Successfully !",
          });
        })
        .catch((error) => {
          console.log(error);
          let responses = error.response;

          this.setAlert({
            status: true,
            color: "error",
            text: responses.data.error,
          });
        });
    },
  },
  mounted() {
    if (this.user) {
      this.checkToken(this.user);
    }
  },
};
</script>